.hexfield {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
}

.hexfield:focus {
    outline: none;
}

.hexfield.wall {
    fill: black;
}

.hexfield.safe {
    fill: white;
}

.hexfield.dangerous {
    fill: gray;
}

.hexfield.potential-move {
    stroke: gold;
    stroke-width: 2px;
}

.hexfield.pod {
    fill: forestgreen;
}

.hexfield.pod-used {
    fill: brown;
}

.hexfield.alienstart {
    fill: rgb(255, 55, 55);
}

.hexfield.humanstart {
    fill: deepskyblue;
}

.hexfield.selected {
    fill: orange;
}

.hexfield.player {
    fill: gold;
}

.hexfield.player-human{
    fill: rgb(22, 116, 238);
}

.hexfield.player-alien{
    fill: red;
}

.hexfield:hover {
    fill: yellow;
}