#can {
    width: 80%;
    height: 90%;
    position: absolute;
}

.background {
    position: absolute;
    width: 400px;
    height: 400px;
}

#paint-controls {
    position: fixed;
    bottom: 5px;
    left: -195px;
    width: 250px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    transition: all 0.3s ease-in-out;
}

#paint-controls.displayed {
    left: 0px;
    transition: all 0.3s ease-in-out;
}

#paint-palatte {
    border: 1px solid lime;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-column-start: span 10;
}

#paint-toggle {
    cursor: pointer;
    align-self: end;
    justify-self: end;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid lime;
    width: fit-content;
    grid-column-start: 11;
}

.color-picker {
    width: 20px;
    height: 20px;
    margin: 2px;
    justify-self: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.color-picker.selected {
    border: 2px solid lime;
}