{{define "layout"}}
	<!doctype html>
	<html>

	<head>
		<meta charset="utf-8">
		<title>EFAiOS</title>
		<link rel="stylesheet" href="/assets/stylesheets/main.css">
		{{template "styling" .}}
	</head>

	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/mapeditor">Map Editor</a>
				<a href="/maps">Maps</a>
			</nav>
		</header>
		<!--IMPORTANT: The '.' sends the data passed in during execution of this template to the nested template being executed into these-->
		{{template "body" .}}
	</body>
	{{template "scripts" .}}

	<script>
		//On page load, give every button on the page some fun glitchy text for the hover effect. This attribute is then used to set the content of the after pseudo-element of each button
		const glitchTextOptions = [
			'RUN',
			'HIDE',
			'QUIET',
			'ESCAPE',
			'DEATH',
			'MONSTERS',
			'KILL',			
		]
		let buttons = document.querySelectorAll("button")

		for(let button of buttons){
			button.setAttribute("glitch-text", glitchTextOptions[Math.floor(Math.random() * glitchTextOptions.length)])
		}
	</script>
	</html>
{{end}}