{{define "layout"}}
	<!doctype html>
	<html>

	<head>
		<meta charset="utf-8">
		<title>EFAiOS</title>
		<link rel="stylesheet" href="/assets/stylesheets/main.css">
		{{template "styling" .}}
	</head>

	<body style="height: 100%; width: 100%;">
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/mapeditor">Map Editor</a>
				<a href="/maps">Maps</a>
			</nav>
		</header>
		<!--IMPORTANT: The '.' sends the data passed in during execution of this template to the nested template being executed into these-->
		{{template "body" .}}
	</body>
	{{template "scripts" .}}

	</html>
{{end}}