{{define "styling"}}
<style>
    #compendium-container {
        display: grid;
        grid-template-columns: 1fr 11fr;
    }

    #compendium-nav {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        border: 1px solid yellow;
    }
    
    #info-container {        
        h1, h2{
            text-decoration: underline;
        }
        h3{
            font-weight: bold;
            font-style: italic;
            margin-bottom: 1px;
        }
        p{
            margin-top: 1px;
        }
    }
</style>
{{end}}

{{define "body"}}
<div id="compendium-container">
    <nav id="compendium-nav">
        <a onclick="showTab('roles')">Roles</a>
        <a onclick="showTab('cards')">Cards</a>
        <a>link</a>
        <a>link</a>
        <a>link</a>
    </nav>
    <main id="info-container">
        <div id="default">
            Default
        </div>
        <div id="roles" style="display: none;">
            Roles
        </div>
        <div id="cards" style="display: none;">
            <h1>Vanilla Cards</h1>
            <p>These cards were ported more or less directly from the physical version of the game with minimal changes</p>

            <h2>Noise Cards</h2>
            <p>Noise Cards are immediately discarded upon being drawn, causing the Player to make noise depending on the card</p>
            <h3>Red Card</h3>
            <p>Make noise in the sector you just moved into</p>

            <h3>Green Card</h3>
            <p>Make noise in any sector of your choosing</p>

            <h3>White Card</h3>
            <p>Make no noise</p>

            <h2>Item Cards</h2>
            <p>Item Cards are added to your hand upon being drawn. In addition to making no noise on this turn, you can also use the card at any point after drawing it, including on the turn you draw it</p>
            <h3>Adrenaline</h3>
            <p>Gives the "Adrenaline Surge"</p>

            <h3>Attack</h3>
            <p></p>

            <h3>Cat</h3>
            <p></p>

            <h3>Clone</h3>
            <p></p>

            <h3>Defense</h3>
            <p></p>

            <h3>Mutation</h3>
            <p></p>

            <h3>Sedatives</h3>
            <p></p>

            <h3>Sensor</h3>
            <p></p>

            <h3>Spotlight</h3>
            <p></p>

            <h3>Teleport</h3>
            <p></p>
        </div>
    </main>
</div>
{{end}}

{{define "scripts"}}
<script>
    function showTab(tabName) {
        const container = document.getElementById("info-container")

        for (let child of container.children) {
            child.style.display = 'none'
        }

        document.getElementById(tabName).style.display = ''
    }

    function pageLoad() {
        let hash = window.location.hash;

        if (hash?.length > 0) {
            showTab(hash.slice(1))
        }
    }

    pageLoad();
</script>
{{end}}