{{define "styling"}}
<style>
    #join-box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #rejoin-box {
        border: 1px solid lime;
        background-color: black;
        align-self: center;
        position: fixed;
        bottom: 5px;
    }
</style>
<style></style>
{{end}}

{{define "body"}}
<h1 style="font-size: xxx-large; text-align: center; margin: 5%;" id="game-title"></h1>
<form id="join-box" onsubmit="joinFormValidate(event)">
    <input class="text-input" id="name-input" name="playerName" type="text" placeholder="Enter Your Name"
        autocomplete="off" autocapitalize="off" />
    <input class="text-input" id="roomcode-input" name="roomCode" type="text" maxlength="4"
        placeholder="Enter Room Code" autocomplete="off" style="text-transform: uppercase;" />
    <button>Join</button>
</form>
<div id="rejoin-box" style="display: none;">
    <h4 style="text-align: center;">Active Game Detected. Rejoin?</h4>
    <button onclick="rejoinGame()">Rejoin</button>
    <button onclick="dropGame()">Drop Game</button>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script>
    function joinFormValidate(event) {
        event.preventDefault();
        let form = event.target
        form['roomCode'].value = form['roomCode'].value.toUpperCase();

        let connectionInfo = {
            type: 'join',
            roomCode: form['roomCode'].value,
            playerName: form['playerName'].value,
        }

        window.localStorage.setItem('efaios-connectionInfo', JSON.stringify(connectionInfo))

        window.open('/play', '_self')
    }

    function checkForActiveGame(){
        const connectionInfo = JSON.parse(window.localStorage.getItem('efaios-connectionInfo'))

        if(connectionInfo?.type === 'rejoin'){
            document.getElementById('rejoin-box').style.display = '';
        }
    }

    function rejoinGame(){
        window.open('/play', '_self')
    }

    function dropGame(){
        window.localStorage.removeItem('efaios-connectionInfo')
        document.getElementById('rejoin-box').style.display = 'none';
    }

    function initializeGlitchText(selector, text) {
        const el = document.getElementById(selector)

        let interval = typeWord(el, text)
        setTimeout(changeRandomLetter, interval, text, el)
    }

    const GLITCH_INTERVAL = 1000
    function changeRandomLetter(originalText, el) {
        let indexToChange = Math.floor(Math.random() * el.innerHTML.length)

        let asArray = Array.from(el.innerHTML)
        asArray.splice(indexToChange, 1, getRandomChar())

        el.innerHTML = asArray.join('')
        setTimeout(() => {
            el.innerHTML = originalText
        }, 100)

        setTimeout(() => {
            changeRandomLetter(originalText, el)
        }, Math.floor(Math.random() * GLITCH_INTERVAL))
    }

    function getRandomChar() {
        const englishAndSymbols = [
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p',
            'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
            'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P',
            'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
            '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/',
            ':', ';', '=', '?', '@', '[', ']', '^', '_', '`', '{', '|', '}',
            '~', ' ',
        ];

        return englishAndSymbols[Math.floor(Math.random() * englishAndSymbols.length)]
    }

    initializeGlitchText("game-title", 'ESCAPE FROM ALIENS IN OUTER SPACE');
    checkForActiveGame();
</script>
{{end}}