{{define "styling"}}
<style type="text/css">
    #sidebar {
        background-color: rgb(39, 39, 39);
        max-width: 500px;
    }

    .text-input-label span{
        background-color: rgb(39, 39, 39);
        color: lime;
    }

    #tools{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #map-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="/assets/stylesheets/map.css">
{{end}}

{{define "body"}}
<div id="page" style="height: 100%; width: 100%; display: flex;">
    <div id="sidebar" style="display: flex; flex-direction: column;">
        <span id="current-tool">Current Tool: None</span>
        <div id="tools">
            <button type="button" onclick="setTool('Walls')">Walls</button>
            <button type="button" onclick="setTool('Pods')">Pods</button>
            <button type="button" onclick="setTool('Safe Sector')">Safe Sector</button>
            <button type="button" onclick="setTool('Dangerous Sector')">Dangerous Sector</button>
            <button type="button" onclick="setTool('Human Start')">Human Start</button>
            <button type="button" onclick="setTool('Alien Start')">Alien Start</button>
        </div>        
        <button type="button" onclick="exportMap()">Save</button>
        <div id="map-details">

            <label class="text-input-label">
                <span>Name</span>
                <input class="text-input" id="name" placeholder="Name" autocomplete="off"/>
            </label>

            <div style="width: 100%; display: flex; justify-content: space-around;">
                <label class="text-input-label">
                    <span>Rows</span>
                    <input class="text-input" id="rows" placeholder="Rows" value="5" />
                </label>
                <label class="text-input-label">
                    <span>Columns</span>
                    <input class="text-input" id="columns" placeholder="Columns" value="10" />
                </label>
            </div>

            <label class="text-input-label" style="min-width: 100%; max-width: 100%; max-height: none;">
                <span>Description</span>
                <textarea id="description" placeholder="Raw HTML is valid. Please don't XSS me :)" class="text-input" rows="15" style="max-width: 90%; max-height: none; min-height: fit-content;"></textarea>
            </label>
        </div>
        
        <button class="btn" id="rebuild" onclick="rebuildGrid()">Clear & Rebuild</button>
    </div>
    <div class="container" id="gridParent"></div>

</div>
{{end}}
{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/mapdrawer.js"></script>
<script src="/assets/js/mapeditor.js"></script>
<script>
    initializePage();
</script>
{{end}}

</html>