{{define "styling"}}
<style type="text/css">
    svg {}

    .hexfield {
        fill: transparent;
        stroke: black;
        stroke-width: 1;
    }

    .hexfield:focus {
        outline: none;
    }

    .hexfield:active {
        fill: red;
        outline: none;
    }

    .hexfield.wall {
        fill: black;
    }

    .hexfield.safe {
        fill: white;
    }

    .hexfield.dangerous {
        fill: gray;
    }

    .hexfield.pod {
        fill: brown;
    }

    .hexfield.alienstart {
        fill: red;
    }

    .hexfield.humanstart {
        fill: cyan;
    }

    .hexfield:hover {
        fill: lime;
    }

    #sidebar {
        background-color: rgb(39, 39, 39);
    }

    #tools{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>
{{end}}

{{define "body"}}
<div id="page" style="height: 100%; width: 100%; display: flex;">
    <div id="sidebar" style="display: flex; flex-direction: column;">
        <span id="current-tool">Current Tool: None</span>
        <div id="tools">
            <button type="button" onclick="setTool('Walls')">Walls</button>
            <button type="button" onclick="setTool('Pods')">Pods</button>
            <button type="button" onclick="setTool('Safe Sector')">Safe Sector</button>
            <button type="button" onclick="setTool('Dangerous Sector')">Dangerous Sector</button>
            <button type="button" onclick="setTool('Human Start')">Human Start</button>
            <button type="button" onclick="setTool('Alien Start')">Alien Start</button>
        </div>        
        <button type="button" onclick="exportMap()">Save</button>
        <div>
            <label class="control-label">
                Name
                <input class="text-input" id="name" placeholder="Name" />
            </label>
            <label class="control-label">
                Rows
                <input class="text-input" id="rows" placeholder="Rows" value="5" />
            </label>
            
            <label class="control-label">
                Columns
                <input class="text-input" id="columns" placeholder="Columns" value="10" />
            </label>
        </div>
        
        <button class="btn" id="rebuild" onclick="rebuildGrid()">Clear & Rebuild</button>
    </div>
    <div class="container" id="gridParent"></div>

</div>
{{end}}
{{define "scripts"}}
<script src="/assets/js/mapeditor.js"></script>
<script>
    initializePage();
</script>
{{end}}

</html>