{{define "styling"}}
<style type="text/css">
    #sidebar {
        background-color: rgb(39, 39, 39);
        max-width: 500px;
    }

    #map-details .text-input-label span{
        background-color: rgb(39, 39, 39);
        color: lime;
    }

    #tools{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #map-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="/assets/stylesheets/map.css">
<link rel="stylesheet" href="/assets/stylesheets/lobby.css">
{{end}}

{{define "body"}}
<div id="page" style="height: 100%; width: 100%; display: flex;">
    <div id="sidebar" style="display: flex; flex-direction: column;">
        <span id="current-tool">Current Tool: None</span>
        <div id="tools">
            <button type="button" onclick="setTool('Walls')">Walls</button>
            <button type="button" onclick="setTool('Pods')">Pods</button>
            <button type="button" onclick="setTool('Safe Sector')">Safe Sector</button>
            <button type="button" onclick="setTool('Dangerous Sector')">Dangerous Sector</button>
            <button type="button" onclick="setTool('Human Start')">Human Start</button>
            <button type="button" onclick="setTool('Alien Start')">Alien Start</button>
        </div>        
        <button type="button" onclick="exportMap()">Save</button>
        <div id="map-details">

            <label class="text-input-label">
                <span>Name</span>
                <input class="text-input" id="name" placeholder="Name" autocomplete="off"/>
            </label>

            <div style="width: 100%; display: flex; justify-content: space-around;">
                <label class="text-input-label">
                    <span>Rows</span>
                    <input class="text-input" id="rows" placeholder="Rows" value="5" />
                </label>
                <label class="text-input-label">
                    <span>Columns</span>
                    <input class="text-input" id="columns" placeholder="Columns" value="10" />
                </label>
            </div>

            <label class="text-input-label" style="min-width: 100%; max-width: 100%; max-height: none;">
                <span>Description</span>
                <textarea id="description" placeholder="Raw HTML is valid. Please don't XSS me :)" class="text-input" rows="15" style="max-width: 90%; max-height: none; min-height: fit-content;"></textarea>
            </label>
        </div>
        <button type="button" onclick="showConfig()">Map Config</button>
        <button class="btn" id="rebuild" onclick="rebuildGrid()">Clear & Rebuild</button>
    </div>
    <div class="config-popup" style="left: 25%">
        <div id="config-header" style="display: flex; justify-content: center;">
            <span style="font-weight: bold; font-size: large" id="config-title">Game Settings</span>
            <span style="font-size: 20px; cursor: pointer; position: absolute; right: 5%; top: 5%"
                onclick="hideConfig()">&times;</span>
        </div>
        <form id="lobby-gameConfig" style="white-space: normal;">
            <div style="display: flex; justify-content: space-around; border-bottom: 1px dashed lime;">
                <button type="button" onclick="configTabSwitch('config-general')">General</button>
                <button type="button" onclick="configTabSwitch('config-cards')">Cards</button>
                <button type="button" onclick="configTabSwitch('config-roles')">Roles</button>
                <button type="button" onclick="configTabSwitch('config-presets')">Presets</button>
            </div>
            <div id="config-general">
                <h2>General Settings</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Humans</span>
                        <input type="number" min="0" class="text-input" name="config-numHumans"
                            placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Aliens</span>
                        <input type="number" min="0" class="text-input" name="config-numAliens"
                            placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Working Pods</span>
                        <input type="number" min="0" class="text-input" name="config-numWorkingPods"
                            placeholder="# Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Broken Pods</span>
                        <input type="number" min="0" class="text-input" name="config-numBrokenPods"
                            placeholder="# Cards" />
                    </label>
                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Turns</span>
                        <input type="number" min="1" class="text-input" name="config-numTurns" placeholder="# Turns" />
                    </label>
                    <label class="checkbox-container">
                        <span>Aliens Can Respawn</span>
                        <input type="checkbox" name="config-aliensRespawn" />
                        <div class="checkmark"></div>
                    </label>
                </div>
            </div>
            <div id="config-cards" style="display: none;">
                <h2>Noise</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Red Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numRedCards"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Green Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numGreenCards"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Silent Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numWhiteCards"
                            placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Defensive</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Teleport</span>
                        <input type="number" min="0" class="text-input" name="config-numTeleport"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Clone</span>
                        <input type="number" min="0" class="text-input" name="config-numClone"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Defense</span>
                        <input type="number" min="0" class="text-input" name="config-numDefense"
                            placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Targeted</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Spotlight</span>
                        <input type="number" min="0" class="text-input" name="config-numSpotlight"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Attack</span>
                        <input type="number" min="0" class="text-input" name="config-numAttack"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sensor</span>
                        <input type="number" min="0" class="text-input" name="config-numSensor"
                            placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Utility</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Adrenaline</span>
                        <input type="number" min="0" class="text-input" name="config-numAdrenaline"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sedatives</span>
                        <input type="number" min="0" class="text-input" name="config-numSedatives"
                            placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Cat</span>
                        <input type="number" min="0" class="text-input" name="config-numCat" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Mutation</span>
                        <input type="number" min="0" class="text-input" name="config-numMutation"
                            placeholder="# of Cards" />
                    </label>
                </div>
            </div>
            <div id="config-roles" style="display: none;">
                <h2 style="color: deepskyblue">Humans</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label" style="color: deepskyblue">
                        Captain
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numCaptain"
                            placeholder="# Possible" onchange="checkPossible('numCaptain')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numCaptainRequired"
                            placeholder="# Required" onchange="updatePossible('numCaptain')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue">
                        Pilot
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numPilot" placeholder="# Possible"
                            onchange="checkPossible('numPilot')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numPilotRequired"
                            placeholder="# Required" onchange="updatePossible('numPilot')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue">
                        Copilot
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numCopilot"
                            placeholder="# Possible" onchange="checkPossible('numCopilot')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numCopilotRequired"
                            placeholder="# Required" onchange="updatePossible('numCopilot')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue">
                        Soldier
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numSoldier"
                            placeholder="# Possible" onchange="checkPossible('numSoldier')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numSoldierRequired"
                            placeholder="# Required" onchange="updatePossible('numSoldier')" />
                    </label>
                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label" style="color: deepskyblue; margin-top: 15px;">
                        Engineer
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numEngineer"
                            placeholder="# Possible" onchange="checkPossible('numEngineer')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numEngineerRequired"
                            placeholder="# Required" onchange="updatePossible('numEngineer')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue; margin-top: 15px;">
                        Psychologist
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numPsychologist"
                            placeholder="# Possible" onchange="checkPossible('numPsychologist')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numPsychologistRequired"
                            placeholder="# Required" onchange="updatePossible('numPsychologist')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue; margin-top: 15px;">
                        Executive Officer
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numEO" placeholder="# Possible"
                            onchange="checkPossible('numEO')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numEORequired"
                            placeholder="# Required" onchange="updatePossible('numEO')" />
                    </label>
                    <label class="text-input-label" style="color: deepskyblue; margin-top: 15px;">
                        Medic
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numMedic" placeholder="# Possible"
                            onchange="checkPossible('numMedic')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numMedicRequired"
                            placeholder="# Required" onchange="updatePossible('numMedic')" />
                    </label>
                </div>
                <h2 style="color: red">Aliens</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label" style="color: red;">
                        Fast
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numFast" placeholder="# Possible"
                            onchange="checkPossible('numFast')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numFastRequired"
                            placeholder="# Required" onchange="updatePossible('numFast')" />
                    </label>
                    <label class="text-input-label" style="color: red;">
                        Surge
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numSurge" placeholder="# Possible"
                            onchange="checkPossible('numSurge')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numSurgeRequired"
                            placeholder="# Required" onchange="updatePossible('numSurge')" />
                    </label>
                    <label class="text-input-label" style="color: red;">
                        Blink
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numBlink" placeholder="# Possible"
                            onchange="checkPossible('numBlink')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numBlinkRequired"
                            placeholder="# Required" onchange="updatePossible('numBlink')" />
                    </label>
                    <label class="text-input-label" style="color: red;">
                        Silent
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numSilent" placeholder="# Possible"
                            onchange="checkPossible('numSilent')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numSilentRequired"
                            placeholder="# Required" onchange="updatePossible('numSilent')" />
                    </label>
                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label" style="color: red; margin-top: 15px;">
                        Brute
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numBrute" placeholder="# Possible"
                            onchange="checkPossible('numBrute')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numBruteRequired"
                            placeholder="# Required" onchange="updatePossible('numBrute')" />
                    </label>
                    <label class="text-input-label" style="color: red; margin-top: 15px;">
                        Invisible
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numInvisible"
                            placeholder="# Possible" onchange="checkPossible('numInvisible')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numInvisibleRequired"
                            placeholder="# Required" onchange="updatePossible('numInvisible')" />
                    </label>
                    <label class="text-input-label" style="color: red; margin-top: 15px;">
                        Lurking
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numLurking"
                            placeholder="# Possible" onchange="checkPossible('numLurking')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numLurkingRequired"
                            placeholder="# Required" onchange="updatePossible('numLurking')" />
                    </label>
                    <label class="text-input-label" style="color: red; margin-top: 15px;">
                        Psychic
                        <span>Available</span>
                        <input type="number" min="0" class="text-input" name="config-numPsychic"
                            placeholder="# Possible" onchange="checkPossible('numPsychic')" />
                        <span>Required</span>
                        <input type="number" min="0" class="text-input" name="config-numPsychicRequired"
                            placeholder="# Required" onchange="updatePossible('numPsychic')" />
                    </label>
                </div>
            </div>
            <div id="config-presets" style="display: none; grid-template-columns: 1fr 3fr;">
                {{range GetConfigPresets}}
                        <button type="button" class="preset-button" onclick="setConfigFormFromString('{{.ConfigJson}}')">{{.Name}}</button>
                        <p>{{.Description}}</p>
                {{end}}
            </div>
        </form>
    </div>
    <div class="container" id="gridParent"></div>

</div>
{{end}}
{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/lobbyconfig.js"></script>
<script src="/assets/js/mapdrawer.js"></script>
<script src="/assets/js/mapeditor.js"></script>
<script>
    initializePage();
</script>
{{end}}

</html>