{{define "styling"}}
<style>
    #list-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .map-entry {
        border: 2px dashed lime;
        padding: 1%;
        margin: 1%;
    }

    .map-entry .button-container {
        display: flex;
        justify-content: space-between;

        button {
            cursor: pointer;
        }
    }

    #name-popup {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 20%;
        border: 5px solid green;

        display: none;
        flex-direction: column;
    }
</style>
{{end}}

{{define "body"}}
<div id="list-container">
    {{range .}}
    <div class="map-entry">
        <h4>{{GetMapName .}}</h4>
        <div class="button-container">
            <button type="button" onclick="hostMap('{{StripMapId .}}')">Play</button>
            <button type="button" onclick="editMap('{{StripMapId .}}')">Edit</button>
        </div>
    </div>
    {{end}}
</div>
<div id="name-popup">
    <input id="name-input" type="text" placeholder="Enter Your Name" autocomplete="off" autocapitalize="off" />
    <button onclick="playMap()">Play</button>
</div>
{{end}}

{{define "scripts"}}
<script>
    var selectedMapId = '';
    function hostMap(mapId) {
        document.getElementById("name-popup").style.display = "flex";
        selectedMapId = mapId;
    }

    function editMap(mapId){
        window.open(`/mapeditor?id=${mapId}`, '_self')
    }

    function playMap() {
        var name = document.getElementById("name-input")?.value;
        
        if(!name?.length > 0){
            console.error("no name given")
            return;
        }

        if(!selectedMapId?.length > 0){
            console.error("no map selected")
            return;
        }

        window.open(`/play?mapId=${selectedMapId}&playerName=${name}`, '_self')
    }
</script>
{{end}}