{{define "styling"}}
<style>
    #list-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .map-entry {
        border: 2px dashed lime;
        padding: 1%;
        margin: 1%;
    }

    .map-entry .button-container {
        display: flex;
        justify-content: space-between;

        button {
            cursor: pointer;
        }
    }

    #name-popup {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 20%;
        border: 1px solid lime;
        background-color: black;

        display: none;
        padding: 5px;
    }
</style>
{{end}}

{{define "body"}}
<div id="list-container">
    {{range .}}
    <div class="map-entry">
        <h4>{{GetMapName .}}</h4>
        <div class="button-container">
            <button type="button" onclick="hostMap('{{StripMapId .}}', '{{GetMapName .}}')">Play</button>
            <button type="button" onclick="editMap('{{StripMapId .}}')">Edit</button>
        </div>
    </div>
    {{end}}
</div>
<div id="name-popup">
    <form id="name-popup-form" onsubmit="playMap(event)" style="display: flex; flex-direction: column; flex-grow: 1;">
        <h4 id="name-popup-map-name-display">Host New Game</h4>
        <input id="name-input" type="text" class="text-input" style="max-width: 100%" placeholder="Enter Your Name" autocomplete="off" autocapitalize="off" />
        <div style="display: flex; justify-content: space-between;">
            <button type="submit">Play</button>
            <button type="button" onclick="cancel()">Cancel</button>
        </div>
    </form>
</div>
{{end}}

{{define "scripts"}}
<script>
    var selectedMapId = '';
    function hostMap(mapId, mapName) {
        document.getElementById("name-popup").style.display = "block";
        document.getElementById("name-popup-map-name-display").innerText = `Host New Game: ${mapName}`
        selectedMapId = mapId;
    }

    function cancel(){
        document.getElementById("name-popup").style.display = "none";
    }

    function editMap(mapId){
        window.open(`/mapeditor?id=${mapId}`, '_self')
    }

    function playMap(event) {      
        console.log(event)  
        event.preventDefault();
        var name = document.getElementById("name-input")?.value;
        
        if(!name?.length > 0){
            console.error("no name given")
            return;
        }

        if(!selectedMapId?.length > 0){
            console.error("no map selected")
            return;
        }

        const connectionInfo = {
            type: "host",
            mapId: selectedMapId,
            playerName: name,
        }

        window.localStorage.setItem('efaios-connectionInfo', JSON.stringify(connectionInfo))

        window.open('/play', "_self")
    }
</script>
{{end}}