{{define "styling"}}
<style>
    #list-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .map-entry {
        border: 2px dashed lime;
        padding: 1%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .map-entry .button-container {
        display: flex;
        justify-content: space-between;

        button {
            cursor: pointer;
        }
    }

    #name-popup {
        position: fixed;
        align-self: center;
        top: 10%;
        height: 70%;
        border: 1px solid lime;
        background-color: black;
        display: none;
        padding: 5px;
    }
</style>
<link rel="stylesheet" href="/assets/stylesheets/map.css">
{{end}}

{{define "body"}}
<h1 style="text-align: center;">Maps</h1>
<div id="list-container">
    {{range .}}
    <div class="map-entry">
        <h3>{{GetMapName .}}</h3>
        <div style="color: rgb(0, 179, 0)">{{GetMapDescription .}}</div>
        <div class="button-container">
            <button type="button" onclick="hostMap('{{StripMapId .}}', '{{GetMapName .}}')"
                style="--button-color: white">Select</button>
            <button type="button" onclick="editMap('{{StripMapId .}}')" style="--button-color: gold">Edit</button>
        </div>
    </div>
    {{end}}
</div>
<div id="name-popup">
    <form id="name-popup-form" onsubmit="playMap(event)"
        style="display: flex; flex-direction: column; align-items: center; height: 100%">
        <h4 id="name-popup-title" style="margin-bottom: 5px">Hosting New Game On:</h4>
        <h5 id="name-popup-map-name-display" style="margin-top: 0px; text-decoration: underline; font-style: italic;">
        </h5>
        <div id="map-loading">Loading Preview...</div>
        <div id="gridParent"
            style="visibility: hidden; width: 100%; height: 150px; display: flex; justify-content: center; flex-grow: 1">
        </div>
        <input id="name-input" type="text" class="text-input" style="max-width: 100%; min-width: 95%;"
            placeholder="Enter Your Name" autocomplete="off" autocapitalize="off" />
        <div style="display: flex; justify-content: space-between; width: 100%">
            <button type="submit">Play Map</button>
            <button type="button" onclick="cancel()" style="--button-color: red">Cancel</button>
        </div>
    </form>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/mapdrawer.js"></script>
<script>
    var selectedMapId = '';
    const LOADED_MAPS = {}

    function hostMap(mapId, mapName) {
        document.getElementById("name-popup").style.display = "block";
        document.getElementById("name-popup-map-name-display").innerText = `${mapName}`
        loadMapPreview(mapId);
        selectedMapId = mapId;
    }

    function cancel() {
        document.getElementById("name-popup").style.display = "none";
    }

    function editMap(mapId) {
        window.open(`/mapeditor?id=${mapId}`, '_self')
    }

    function playMap(event) {
        event.preventDefault();
        var name = document.getElementById("name-input")?.value;

        if (!name?.length > 0) {
            console.error("no name given")
            return;
        }

        if (!selectedMapId?.length > 0) {
            console.error("no map selected")
            return;
        }

        const connectionInfo = {
            type: "host",
            mapId: selectedMapId,
            playerName: name,
        }

        window.localStorage.setItem('efaios-connectionInfo', JSON.stringify(connectionInfo))

        window.open('/play', "_self")
    }

    async function loadMapPreview(mapId) {
        let gridParent = document.getElementById("gridParent");
        let loadingMessage = document.getElementById('map-loading');
        gridParent.style.visibility = 'hidden'
        loadingMessage.style.display = '';

        if (!LOADED_MAPS[mapId]) {
            await fetch(`/api/map?id=${mapId}`)
                .then(resp => resp.json())
                .then(apiObj => {
                    LOADED_MAPS[mapId] = {
                        rows: apiObj.rows,
                        cols: apiObj.cols,
                        spaces: apiObj.spaces
                    }
                })
        }

        MAP = LOADED_MAPS[mapId];
        clearGrid();
        createGrid(MAP.rows, MAP.cols, gridParent, false);
        drawMapOnPage();
        loadingMessage.style.display = 'none';
        gridParent.style.visibility = 'visible';
    }

    function hexClick() { }    
</script>
{{end}}