{{define "styling"}}
<style>
    #lobby {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gameplay {
        display: none;
        justify-content: center;
    }

    .hexfield {
        fill: transparent;
        stroke: black;
        stroke-width: 1;
    }

    .hexfield:focus {
        outline: none;
    }

    .hexfield.wall {
        fill: black;
    }

    .hexfield.safe {
        fill: white;
    }

    .hexfield.dangerous {
        fill: gray;
    }

    .hexfield.potential-move {
        fill: pink;
    }

    .hexfield.pod {
        fill: forestgreen;
    }

    .hexfield.pod-used {
        fill: brown;
    }

    .hexfield.alienstart {
        fill: red;
    }

    .hexfield.humanstart {
        fill: deepskyblue;
    }

    .hexfield.selected {
        fill: orange;
    }

    .hexfield.player {
        fill: mediumpurple;
    }

    .hexfield:hover {
        fill: limegreen;
    }

    .notification-popup {
        position: fixed;
        top: 0;
        left: 25%;
        width: 50%;
        background-color: black;
        z-index: 5000;
        color: white;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid white;
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }

    .notification-displayed {
        transform: translateY(25%);
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

    .redCard-confirm,
    #redCard-confirm::after {
        font-family: inherit;
        padding: 10px 50px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        color: inherit;
        background-color: transparent;
        position: relative;
    }

    .redCard-confirm::after {
        --move1: inset(50% 50% 50% 50%);
        --move2: inset(31% 0 40% 0);
        --move3: inset(39% 0 15% 0);
        --move4: inset(45% 0 40% 0);
        --move5: inset(45% 0 6% 0);
        --move6: inset(14% 0 61% 0);
        clip-path: var(--move1);
        content: 'RUN';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* display: block; */
    }

    .redCard-confirm:hover::after {
        animation: glitch_4011 1s;
        text-shadow: 10 10px 10px rgb(255, 0, 0);
        animation-timing-function: steps(2, end);
        text-shadow: -3px -3px 0px #ff2323, 3px 3px 0px #ca0000;
        background-color: transparent;
        border: 3px dotted red;
    }

    .redCard-confirm:hover {
        text-shadow: -1px -1px 0px #ff2323, 1px 1px 0px #ca0000;
    }

    .redCard-confirm:hover {
        background-color: transparent;
        border: 1px dotted red;
        box-shadow: 0px 10px 10px -10px rgb(141, 0, 0);
    }

    #cards {
        position: fixed;
        bottom: -150px;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.4s ease-in-out;
    }

    #cards:hover {
        transform: translateY(-35%);
        transition: all 0.4s ease-in-out;
    }

    .card {
        margin-right: 1px;
        margin-left: 1px;
        height: 200px;
        width: 150px;
        border: 2px solid white;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .card:hover {
        transform: translateY(-5%);
        transition: all 0.3s ease-in-out;
    }

    #role {
        position: fixed;
        right: -120px;
        height: 200px;
        width: 150px;
        border: 2px solid white;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #role:hover {
        transform: translateX(-82%);
        border-color: var(--team-color);
        color: var(--team-color);
        transition: all 0.3s ease-in-out;
    }

    #event-log {
        position: fixed;
        background-color: black;
        overflow-y: auto;
        scrollbar-color: white black;
        max-height: 80%;
        width: 20%;
        left: -15%;
        transition: all 0.3s ease-in-out;
    }

    #event-log:hover {
        transform: translateX(75%);
        transition: all 0.3s ease-in-out;
    }

    /* Style the tab */
    .tab-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid white;
    }

    /* Style the buttons that are used to open the tab content */
    .tab-list button {
        max-width: 90%;
        overflow: hidden;
        background-color: inherit;
        cursor: pointer;
        transition: 0.3s;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid white;
        border-top: none;
    }

    .tabcontent p {
        margin: 2%;
    }
</style>
<link rel="stylesheet" href="/assets/stylesheets/lobby.css">
{{end}}

{{define "body"}}
<div id="notification-popup" class="notification-popup">
    <div id="notification-header" style="display: flex; justify-content: center;">
        <span style="font-weight: bold; font-size: large" id="notification-title">Alert</span>
        <span style="font-size: 20px; cursor: pointer; position: absolute; right: 5%; top: 5%"
            onclick="hideNotification()">&times;</span>
    </div>
    <div id="notification-content"></div>
</div>
<div id="playerChoice-popup" class="notification-popup">
    <div id="playerChoice-header">
        <span style="font-weight: bold; font-size: large;" id="playerChoice-title">Input Needed</span>
    </div>
    <div id="playerChoice-content">
        <div id="playerChoice-greenCard">
            <div id="playerChoice-greenCard-content">Choose a space to make noise in</div>
            <button id="greenCard-confirm" style="display: none" onclick="greenCardConfirm()">Confirm</button>
        </div>
        <div id="playerChoice-redCard">
            <div id="playerChoice-redCard-content">You're about to make noise in your space</div>
            <button class="redCard-confirm" onclick="redCardConfirm()">Confirm</button>
        </div>
        <div id="playerChoice-spotlight">
            <div id="playerChoice-spotlight-content">Choose a space to use Spotlight on!</div>
            <button id="spotlight-confirm" style="display: none" onclick="spotlightConfirm()">Confirm</button>
        </div>
        <div id="playerChoice-sensor">
            <div id="playerChoice-sensor-content">Choose a Player to use Sensor on!</div>
            <div id="playerChoice-sensor-playerList"></div>
            <button id="sensor-confirm" style="display: none" onclick="sensorConfirm()">Confirm</button>
        </div>
        <div id="playerChoice-attack">
            <div id="playerChoice-attack-content">Would you like to attack this space?</div>
            <div>
                <button class="redCard-confirm" onclick="attack(true)" style="color:red;">Yes</button>
                <button onclick="attack(false)" style="color: lime;">No</button>
            </div>
        </div>
    </div>
</div>
<div id="lobby">
    <h3>Lobby</h3>
    <div id="lobby-roomCode"></div>
    <div id="lobby-playerList"></div>
    <button id="lobby-gameConfigButton" style="display: none;">Game Settings</button>
    <button id="lobby-startButton" style="display: none;">Start</button>
    <div class="config-popup">
        <div id="config-header" style="display: flex; justify-content: center;">
            <span style="font-weight: bold; font-size: large" id="config-title">Game Settings</span>
            <span style="font-size: 20px; cursor: pointer; position: absolute; right: 5%; top: 5%"
                onclick="hideConfig()">&times;</span>
        </div>
        <form id="lobby-gameConfig" style="white-space: normal;">
            <div style="display: flex; justify-content: space-around; border-bottom: 1px dashed lime;">
                <button type="button" onclick="configTabSwitch('config-general')">General</button>
                <button type="button" onclick="configTabSwitch('config-cards')">Cards</button>
                <button type="button" onclick="configTabSwitch('config-roles')">Roles</button>
            </div>
            <div id="config-general">
                <h2>General Settings</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Humans</span>
                        <input type="number" min="0" class="text-input" name="config-numHumans" placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Aliens</span>
                        <input type="number" min="0" class="text-input" name="config-numAliens" placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Working Pods</span>
                        <input type="number" min="0" class="text-input" name="config-numWorkingPods" placeholder="# Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Broken Pods</span>
                        <input type="number" min="0" class="text-input" name="config-numBrokenPods" placeholder="# Cards" />
                    </label>
                </div>
            </div>
            <div id="config-cards" style="display: none;">
                <h2>Noise</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Red Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numRedCards" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Green Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numGreenCards" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Silent Cards</span>
                        <input type="number" min="0" class="text-input" name="config-numWhiteCards" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Defensive</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Teleport</span>
                        <input type="number" min="0" class="text-input" name="config-numTeleport" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Clone</span>
                        <input type="number" min="0" class="text-input" name="config-numClone" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Defense</span>
                        <input type="number" min="0" class="text-input" name="config-numDefense" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Targeted</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Spotlight</span>
                        <input type="number" min="0" class="text-input" name="config-numSpotlight" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Attack</span>
                        <input type="number" min="0" class="text-input" name="config-numAttack" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sensor</span>
                        <input type="number" min="0" class="text-input" name="config-numSensor" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Utility</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Adrenaline</span>
                        <input type="number" min="0" class="text-input" name="config-numAdrenaline" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sedatives</span>
                        <input type="number" min="0" class="text-input" name="config-numSedatives" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Cat</span>
                        <input type="number" min="0" class="text-input" name="config-numCat" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Mutation</span>
                        <input type="number" min="0" class="text-input" name="config-numMutation" placeholder="# of Cards" />
                    </label>
                </div>
            </div>
            <div id="config-roles" style="display: none;">
                Not yet implemented
            </div>
        </form>
    </div>
</div>
<div id="gameplay">
    <div id="gameplay-gridParent"></div>
    <div id="event-log">
        <div id="tab-list" class="tab-list">
        </div>
    </div>
    <div id="cards"></div>
    <div id="role"></div>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/websocket.js"></script>
<script src="/assets/js/mapplayer.js"></script>
<script>
    var ws = null;
    var thisPlayer = null;
    var gamePlayerList = [];
    var thisGameStateId = null;
    var isThisPlayersTurn = false;

    function openSocket() {
        urlParams = new URLSearchParams(window.location.search)

        var playerName = urlParams.get("playerName")
        if (!playerName?.length > 0) {
            console.error("no player name found")
            return
        }
        if (urlParams.has("mapId") && !urlParams.has("roomCode")) {
            var mapId = urlParams.get("mapId")

            var urlToConnect = `ws://${window.location.host}/lobby/host?mapId=${mapId}&playerName=${playerName}`
        } else if (urlParams.has("roomCode") && !urlParams.has("mapId")) {
            var roomCode = urlParams.get("roomCode")

            var urlToConnect = `ws://${window.location.host}/lobby/join?roomCode=${roomCode}&playerName=${playerName}`
        } else {
            console.error("Something went wrong trying to detect mode")
            return;
        }

        ws = new WebSocket(urlToConnect)

        ws.addEventListener('message', (wsMsg) => {
            var message = JSON.parse(wsMsg.data)
            handleWsMessage(message)
        })
    }

    openSocket();
</script>
{{end}}