{{define "styling"}}
<style>
    #lobby {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gameplay {
        display: none;
    }

    .hexfield {
        fill: transparent;
        stroke: yellowgreen;
        stroke-width: 1;
    }

    .hexfield:focus {
        outline: none;
    }

    .hexfield:active {
        fill: red;
        outline: none;
    }

    .hexfield.wall {
        fill: brown;
    }

    .hexfield.safe{
        fill: white;
    }

    .hexfield.dangerous{
        fill: gray;
    }

    .hexfield.pod {
        fill: black;
    }

    .hexfield.alienstart{
        fill: red;
    }

    .hexfield.humanstart{
        fill: blue;
    }
    
    .hexfield:hover {
        fill: green;
    }

    .hexfield.player{
        fill: orange;
    }
</style>
{{end}}

{{define "body"}}
<div id="lobby">
    <h3>Lobby</h3>
    <div id="lobby-roomCode"></div>
    <div id="lobby-playerList"></div>
    <div id="lobby-gameConfig">
        <input type="number" id="config-numHumans" placeholder="Human Players"/>
        <input type="number" id="config-numAliens" placeholder="Alien Players"/>
        <input type="number" id="config-numWorkingPods" placeholder="Working Pods"/>
        <input type="number" id="config-numBrokenPods" placeholder="Broken Pods"/>
    </div>
    <button id="lobby-startButton" style="display: none;">Start</button>
</div>
<div id="gameplay">
    <div id="gameplay-gridParent"></div>
    <button type="button" onclick="attack()">Attack</button>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/websocket.js"></script>
<script src="/assets/js/mapplayer.js"></script>
<script>
    var ws = null;
    var thisPlayer = null;
    var thisGameStateId = null;

    function attack(){
        var actionToSend = {
            gameId: thisGameStateId,
            action: {
                type: "Attack",
                turn: {
                    row: thisPlayer.row,
                    col: thisPlayer.col
                }
            }
        }

        sendWsMessage(ws, 'submitAction', actionToSend)
    }

    function openSocket() {
        urlParams = new URLSearchParams(window.location.search)

        var playerName = urlParams.get("playerName")
        if (!playerName?.length > 0) {
            console.error("no player name found")
            return
        }
        if (urlParams.has("mapId") && !urlParams.has("roomCode")) {
            var mapId = urlParams.get("mapId")

            var urlToConnect = `ws://${window.location.host}/lobby/host?mapId=${mapId}&playerName=${playerName}`
        } else if (urlParams.has("roomCode") && !urlParams.has("mapId")) {
            var roomCode = urlParams.get("roomCode")

            var urlToConnect = `ws://${window.location.host}/lobby/join?roomCode=${roomCode}&playerName=${playerName}`
        } else {
            console.error("Something went wrong trying to detect mode")
            return;
        }

        ws = new WebSocket(urlToConnect)

        ws.addEventListener('message', (wsMsg) => {
            var message = JSON.parse(wsMsg.data)
            handleWsMessage(message)
        })
    }    

    openSocket();
    // var lobby = {"type":"LobbyInfo","data":{"playerID":"1736982926867JZTAZ5F8TB","lobbyInfo":{"roomCode":"TTWQ","mapId":"1736982914988TDU0HZGRU9","gameStateId":"","status":"Awaiting Start","numPlayers":1,"maxPlayers":12,"players":[{"id":"1736982926867JZTAZ5F8TB","name":"Ryan","team":"","role":"","row":0,"col":0}],"host":{"id":"1736982926867JZTAZ5F8TB","name":"Ryan","team":"","role":"","row":0,"col":0}}}}	
    // handleLobbyInfoMessage(lobby.data)
</script>
{{end}}