{{define "styling"}}
<style>

</style>
<link rel="stylesheet" href="/assets/stylesheets/lobby.css">
{{end}}

{{define "body"}}
<div id="container">
    <button id="lobby-gameConfigButton" onclick="showConfig()">Game Settings</button>
    <div class="config-popup">
        <div id="config-header" style="display: flex; justify-content: center;">
            <span style="font-weight: bold; font-size: large" id="config-title">Game Settings</span>
            <span style="font-size: 20px; cursor: pointer; position: absolute; right: 5%; top: 5%"
                onclick="hideConfig()">&times;</span>
        </div>
        <form id="lobby-gameConfig" style="white-space: normal;">
            <div style="display: flex; justify-content: space-around; border-bottom: 1px dashed lime;">
                <button type="button" onclick="configTabSwitch('config-general')">General</button>
                <button type="button" onclick="configTabSwitch('config-cards')">Cards</button>
                <button type="button" onclick="configTabSwitch('config-roles')">Roles</button>
            </div>
            <div id="config-general">
                <h2>General Settings</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Humans</span>
                        <input type="number" class="text-input" name="config-numHumans" placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Aliens</span>
                        <input type="number" class="text-input" name="config-numAliens" placeholder="# Players" />
                    </label>
                    <label class="text-input-label">
                        <span>Working Pods</span>
                        <input type="number" class="text-input" name="config-numWorkingPods" placeholder="# Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Broken Pods</span>
                        <input type="number" class="text-input" name="config-numBrokenPods" placeholder="# Cards" />
                    </label>
                </div>
            </div>
            <div id="config-cards" style="display: none;">
                <h2>Noise</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Red Cards</span>
                        <input type="number" class="text-input" name="config-numRedCards" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Green Cards</span>
                        <input type="number" class="text-input" name="config-numGreenCards" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Silent Cards</span>
                        <input type="number" class="text-input" name="config-numWhiteCards" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Defensive</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Teleport</span>
                        <input type="number" class="text-input" name="config-numTeleport" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Clone</span>
                        <input type="number" class="text-input" name="config-numClone" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Defense</span>
                        <input type="number" class="text-input" name="config-numDefense" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Targeted</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Spotlight</span>
                        <input type="number" class="text-input" name="config-numSpotlight" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Attack</span>
                        <input type="number" class="text-input" name="config-numAttack" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sensor</span>
                        <input type="number" class="text-input" name="config-numSensor" placeholder="# of Cards" />
                    </label>
                </div>
                <h2>Utility</h2>
                <div style="display: flex; justify-content: space-evenly;">
                    <label class="text-input-label">
                        <span>Adrenaline</span>
                        <input type="number" class="text-input" name="config-numAdrenaline" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Sedatives</span>
                        <input type="number" class="text-input" name="config-numSedative" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Cat</span>
                        <input type="number" class="text-input" name="config-numCat" placeholder="# of Cards" />
                    </label>
                    <label class="text-input-label">
                        <span>Mutation</span>
                        <input type="number" class="text-input" name="config-numMutation" placeholder="# of Cards" />
                    </label>
                </div>
            </div>
            <div id="config-roles" style="display: none;">
                Not yet implemented
            </div>
        </form>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script>
    function hideConfig() {
        var configpopup = document.querySelector(".config-popup-displayed")
        configpopup.classList.remove("config-popup-displayed")
        configpopup.classList.add("config-popup-hiding")
        if (!configpopup.onanimationend) {
            configpopup.onanimationend = () => {
                configpopup.classList.remove("config-popup-hiding")
            }
        }
    }

    function showConfig() {
        document.querySelector(".config-popup").classList.add("config-popup-displayed")
    }

    function configTabSwitch(newTab) {
        let generalConfigId = "config-general"
        let cardConfigId = "config-cards"
        let roleConfigId = "config-roles"

        let generalConfig = document.getElementById(generalConfigId)
        let cardConfig = document.getElementById(cardConfigId)
        let roleConfig = document.getElementById(roleConfigId)

        switch (newTab) {
            case generalConfigId:
                generalConfig.style.display = ''
                cardConfig.style.display = 'none';
                roleConfig.style.display = 'none';
                break;
            case cardConfigId:
                generalConfig.style.display = 'none'
                cardConfig.style.display = '';
                roleConfig.style.display = 'none';
                break;
            case roleConfigId:
                generalConfig.style.display = 'none'
                cardConfig.style.display = 'none';
                roleConfig.style.display = '';
                break;
        }
    }
</script>

{{end}}